<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body class="pageNotFound">
		<h1 class='404-title'>{{title}}</h1>
		<p class='404-message'>
			{{errorMessage}}
		</p>
		<div class='404-link'>
			<a href='/'>Home</a>
		</div>
	</body>
</html>
