<!DOCTYPE html>
<html>
	<head>
		<title>WeatherCast</title>
		<link rel="stylesheet" href="css/styles.css">
		<script src="js/index.js"></script>
	</head>
	<body>
		<header>
			{{title}}
		</header>
		<section>
			<form onsubmit="searchPlace(event)">
				<input type="search" id="search-place" placeholder="Search for a location"/>
			</form>
			<div id="errorMessage"></div>
		</section>
	</body>
</html>
