@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: url("../img/cool-background.png") no-repeat;
}
header {
  text-align: center;
  font-size: 1.3em;
}
header h1, footer h3{
  display: inline-block;
}
header img, footer img{
  width: 50px;
  height: auto;
}
/*
  ##############################
    Form
  ##############################
*/

.input-group img {
  width: 40px;
  height: auto;
}
.input-group {
  background-color: white;
    width: 35%!important;
    border:2px solid white;
    border-radius: 30px;
    margin: auto;
    transition: 0.8s
}

.input-group:hover {
  border: 2px red solid;
}
.input-group input {
  padding: 16px 24px;
  width: 85%;
  border-radius: 30px;
  border: none;
  outline: none
}
.form-control input::placeholder {
  color: grey;
  font-size: 1.2em;
}
/*
  ##############################
    Content Header
  ##############################
*/
.content-header {
  line-height: 20px;
}
.content-header h1{
  font-size: 5em;
}
.content-header p{
  font-size: 1.5em;
}
.content-header p:last-child, #main-description{
  font-size: 1.2em;
}

#error{
  font-size: 1.5em
}
.detail {
  background-color: rgba(0,0, 0, .5);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.detail p {
  font-size: 1.5em;
}
.page-wrappper {
  text-align: center;
}
.page-wrappper h1 {
  font-size: 3.5em;
}
.page-wrappper p {
  font-size: 2.5em;
}
.page-wrappper a {
  font-size: 1.5em;
}
@media screen and (max-width:  768px) {
  .input-group {
      width: 95%!important;
  }
  .page-wrapper{
    padding-top: 10%;
  }
  .page-wrappper h1 {
    font-size: 3em;
  }
  .page-wrappper p {
    font-size: 2em;
  }
  .page-wrappper a {
    font-size: 1.3em;
  }
}
