* {
	box-sizing: border-box;
}

:root{
	--color1: #e5e6e4;
	--blue: #1b98e0;
	--dark-blue: #006494;
	--light-gray: #e8f1f2;
	--deep-red: #AC124A;
	--navy-blue: #13293d;
}
body{
	background: linear-gradient( var(--blue), var(--dark-blue));
	height: 100vh
}
header {
	padding: 10px;
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	color: var(--light-gray)
}
section {
	padding: 20px;
	margin-top: 10px
}
section form{
	text-align: center;
}
section form input {
	padding: 20px;
	width: 50%;
	font-size: 1.2em;
	border-radius: 10px;
	box-shadow: 2px 2px 2px grey;
	border: 2px solid var(--light-gray)
}
section form input::placeholder {
	color: var(--blue)
}
section form input:focus {
	border: 2px solid var(--navy-blue);
	outline: none
}
section div{
	text-align: center;
	margin-top: 20px;
	font-size: 1.3em;
	color: var(--deep-red)
}
.pageNotFound{
	background: none;
	padding-top: 50px;
}
.pageNotFound h1, p, div{
	text-align: center;
}
.pageNotFound h1{
	font-size: 5em;
}
.pageNotFound p{
	font-size: 2.5em;
}
.pageNotFound a{
	font-size: 1.5em;
}
@media screen and (max-width: 768px) {
	section form input {
		width: 100%;
	}
}
